*, :after, :before {box-sizing: border-box;}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body{font:12px/1.5 Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif; color: #666; background-color: #fff; -webkit-font-smoothing: antialiased;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
html,body{height: 100%;overflow:hidden;}
em,i,b{font-style:normal;font-weight:400;}
ul,ol,li{list-style:none;}
fieldset,img{border:0;}
input {outline:none; font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;}
a{color: #333;}
a:link, a:visited{text-decoration:none;outline:none;}
a:hover{color:#000;}